# Директории
node_modules/
dist/
logs/
tmp/

# Файлы окружения
.env
.env.local
.env.development
.env.test
.env.production

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Локальные файлы системы
.DS_Store
Thumbs.db

# Файлы IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
